@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Upload Parsing Samples</h1>
    <p><a href="~/client/1001/">Client A</a></p>
    <p><a href="~/client/1002/">Client B</a></p>
</div>
